.profiledetailed {
    margin-top: 2rem;
    border-radius: 10px;
    border: solid 1px rgb(40, 40, 40);
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 800px;
    height: 600px;
    background: linear-gradient(
        58deg,
        hsl(0, 0%, 0%) 0%,
        hsl(0, 0%, 2.48%) 15.9%,
        hsl(0, 0%, 4.94%) 30.1%,
        hsl(0, 0%, 7.38%) 42.7%,
        hsl(0, 0%, 9.8%) 53.7%,
        hsl(0, 0%, 12.2%) 63.3%,
        hsl(0, 0%, 14.58%) 71.5%,
        hsl(0, 0%, 16.93%) 78.5%,
        hsl(0, 0%, 19.27%) 84.3%,
        hsl(0, 0%, 21.58%) 89%,
        hsl(0, 0%, 23.87%) 92.7%,
        hsl(0, 0%, 26.14%) 95.6%,
        hsl(0, 0%, 28.39%) 97.7%,
        hsl(0, 0%, 30.62%) 99%,
        hsl(0, 0%, 32.82%) 99.8%,
        hsl(0, 0%, 35%) 100%
    );
    grid-template-columns: 1fr 1fr;
}

.profiledcontainer {
    width: 100%;
    display: grid;
    justify-content: center;
}

.profiledcontainer label, input {
    display: block;
    color: white;
}

.detailedleft {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.detailedleft input {
    width: 80%;
    margin-bottom: 0.5rem;
    border: none;
    outline: none;
    background: rgb(40, 40, 40);
    padding: 0.6rem;  
    color: rgb(160, 160, 160);
    border-radius: 10px;
}

.detailedleft label {
    margin-bottom: 0.5rem;
    color: rgb(75, 75, 75)
}

.detailedleft div {
    width: 80%;
}

.detailedright {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.detailedright textarea {
    width: 100%;
    height: 10rem;
    margin-bottom: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    background: rgb(40, 40, 40);
    padding: 0.6rem;  
    color: rgb(160, 160, 160);
    border-radius: 10px;
}

.detailedright div {
    width: 80%;
}

.detailedright label {
    margin-bottom: 0.5rem;
    color: rgb(75, 75, 75)
}

.profilepic {
    margin: 1.5rem;
}

.profilepic img {
    width: 3rem;
    height: 3rem;
}