.chatContainer {
    margin-left: 5rem;
    margin-top: 2rem;
    height: fit-content;
    background:  linear-gradient(
        58deg,
        hsl(0, 0%, 0%) 0%,
        hsl(0, 0%, 2.48%) 15.9%,
        hsl(0, 0%, 4.94%) 30.1%,
        hsl(0, 0%, 7.38%) 42.7%,
        hsl(0, 0%, 9.8%) 53.7%,
        hsl(0, 0%, 12.2%) 63.3%,
        hsl(0, 0%, 14.58%) 71.5%,
        hsl(0, 0%, 16.93%) 78.5%,
        hsl(0, 0%, 19.27%) 84.3%,
        hsl(0, 0%, 21.58%) 89%,
        hsl(0, 0%, 23.87%) 92.7%,
        hsl(0, 0%, 26.14%) 95.6%,
        hsl(0, 0%, 28.39%) 97.7%,
        hsl(0, 0%, 30.62%) 99%,
        hsl(0, 0%, 32.82%) 99.8%,
        hsl(0, 0%, 35%) 100%
    );
    padding: 2rem;
    border-radius: 10px;
}
.chatField {
    display: block;
    width: 600px;
    height: 425px;
    display: flex;
    flex-direction: column;
    color: rgb(220, 220, 220);
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.chatField::-webkit-scrollbar {
    width: 0.75rem;
}

.chatField::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
    border-radius: 10px;
}

.chatField::-webkit-scrollbar-thumb{
    background: rgb(30, 30, 30);
    border-radius: 10px;
    width: 0.5rem;
    height: 1rem;
}

.chatInput, .chatInput input {
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
    color: rgb(150, 150, 150);
}

.chatInput input {
    height: 2rem;
    border: solid 1px rgb(50, 50, 50);
    opacity: 0.8;
    border-radius: 10px;
    background: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    outline: none;
}

.sendMessageSvg {
    fill: purple;
}

.sendButton {
    background: none;
    border: none;
    height: fit-content;
}

.chatInput {
    display: flex;
    align-items: center;
}