
.messageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messageContainerTwo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start; 
}

.currentUserMessage {
    background-color: purple;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    border-radius: 15px;
    text-align: center;
    margin-right: 1.25rem;
  
}

.userMessage {
    background-color: rgb(40, 40, 40);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    border-radius: 15px;
    text-align: center;
}