.homecontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}

.firstsection {
    grid-column: 2/7;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.firstsection h1 {
    width: 8.5em;
    font-size: 4rem;
    color: white;
    justify-self: center;
    align-self: center;
}

.firstsection h4 {
    margin-top: 0.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    color: rgb(170, 170, 170);
    align-self: center;
}

.firstsection a {
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    background-color: purple;
    text-decoration: none;
    border: solid white 1px;
    width: 70px;
    margin-left: 4rem;
}

.firstsection a:hover {
    opacity: 0.5;
}

.homeimage {
    width: 50%;
    padding: 3rem;
}

.hometext {
    width: 50%;
    padding: 3rem;
}