.friendimg {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.friendCard {
    outline: none;
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    margin: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.friendCard:hover {
    background: rgba(255, 255, 255, 0.1);
}

.friendCard img {
    margin-right: 1rem;
}

.currentCardHighlight {
    border: 1px solid purple;
    background: rgba(40, 40, 40);
}