.logincontainer {
    width: 100%;
    height: 100%;
}

.form {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logincard {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 5rem;
    background:  linear-gradient(
        58deg,
        hsl(0, 0%, 0%) 0%,
        hsl(0, 0%, 2.48%) 15.9%,
        hsl(0, 0%, 4.94%) 30.1%,
        hsl(0, 0%, 7.38%) 42.7%,
        hsl(0, 0%, 9.8%) 53.7%,
        hsl(0, 0%, 12.2%) 63.3%,
        hsl(0, 0%, 14.58%) 71.5%,
        hsl(0, 0%, 16.93%) 78.5%,
        hsl(0, 0%, 19.27%) 84.3%,
        hsl(0, 0%, 21.58%) 89%,
        hsl(0, 0%, 23.87%) 92.7%,
        hsl(0, 0%, 26.14%) 95.6%,
        hsl(0, 0%, 28.39%) 97.7%,
        hsl(0, 0%, 30.62%) 99%,
        hsl(0, 0%, 32.82%) 99.8%,
        hsl(0, 0%, 35%) 100%
    );
    height: 500px;
    border-radius: 5px;
}

.inputcontainer input {
    width: 18rem;
    margin-bottom: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    background-color: rgb(40, 40, 40);
    padding-left: 1rem;
}

.submit input {
    width: 7rem;
    height: 2rem;
    border-radius: 15px;
    border: solid 1px purple;
    background-color: black;
    margin-bottom: 8rem;
    color: white;
}

.submit input:hover {
    opacity: 0.5;
}