body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background:  linear-gradient(
    58deg,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 2.48%) 15.9%,
    hsl(0, 0%, 4.94%) 30.1%,
    hsl(0, 0%, 7.38%) 42.7%,
    hsl(0, 0%, 9.8%) 53.7%,
    hsl(0, 0%, 12.2%) 63.3%,
    hsl(0, 0%, 14.58%) 71.5%,
    hsl(0, 0%, 16.93%) 78.5%,
    hsl(0, 0%, 19.27%) 84.3%,
    hsl(0, 0%, 21.58%) 89%,
    hsl(0, 0%, 23.87%) 92.7%,
    hsl(0, 0%, 26.14%) 95.6%,
    hsl(0, 0%, 28.39%) 97.7%,
    hsl(0, 0%, 30.62%) 99%,
    hsl(0, 0%, 32.82%) 99.8%,
    hsl(0, 0%, 35%) 100%
);
}

.main {
  background:  linear-gradient(
    58deg,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 2.48%) 15.9%,
    hsl(0, 0%, 4.94%) 30.1%,
    hsl(0, 0%, 7.38%) 42.7%,
    hsl(0, 0%, 9.8%) 53.7%,
    hsl(0, 0%, 12.2%) 63.3%,
    hsl(0, 0%, 14.58%) 71.5%,
    hsl(0, 0%, 16.93%) 78.5%,
    hsl(0, 0%, 19.27%) 84.3%,
    hsl(0, 0%, 21.58%) 89%,
    hsl(0, 0%, 23.87%) 92.7%,
    hsl(0, 0%, 26.14%) 95.6%,
    hsl(0, 0%, 28.39%) 97.7%,
    hsl(0, 0%, 30.62%) 99%,
    hsl(0, 0%, 32.82%) 99.8%,
    hsl(0, 0%, 35%) 100%
);
}

html {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
